<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>GnomeHat</title>
  <meta name="description" content="GnomeHat Main Page">
  <meta name="author" content="GnomeHat">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/main.css">

  <link rel="icon" type="image/png" href="static/images/favicon.png">

  <style>
  </style>
  <script>
function filterResults() {
    var input = document.getElementById("resultSearchInput");
    var filter = input.value.toUpperCase();
    var resultsList = document.getElementById("resultsList");
    var results = resultsList.getElementsByClassName("gradient");

    var visibleCount = 0;
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < results.length; i++) {
        div = results[i];
        if (div.innerHTML.toUpperCase().indexOf(filter) > -1) {
            div.style.display = "block";
            visibleCount++;
        } else {
            div.style.display = "none";
        }
    }
    if (visibleCount < results.length) {
        setResultText('Displaying ' + visibleCount + ' of ');
    } else {
        setResultText('');
    }
}

function setResultText(text) {
    var resultText = document.getElementById("resultDisplayCount");
    resultText.innerHTML = text;
}

  </script>

</head>
<body>
  <center>
    <span class="title">Experiment Runs</span>
  </center>
  <div class="container">
    <br>
    <div class="row" id="results">
      <div class="column" id="resultsList">
        <span id="resultDisplayCount"></span>
        {{ results | length }} recent results. &nbsp
        <br>
        <input class="search" type="text" id="resultSearchInput" onkeyup="filterResults()" placeholder="Search for results..">
        <br>
        {% for result in results: %}
        <div class="gradient {{result['color']}}">
          <div class="content" style="float: left">
            <div class="clickables">
              <a onclick="deleteResult('{{result['dir_name']}}');">♻</a>
              <br>
              {% if not result['finished']: %}
              <a onclick="stopExperiment('{{result['dir_name']}}');">☓</a>
              <br>
              {% endif %}
            </div>
            <a href="experiment/{{ result['dir_name'] }}">
              <span class=big>
                <span class="experiment_name">{{ result['experiment_name'] }}</span>
                <br>
                <span class="headline">{{ result['headline'] }}</span>
                <br>
                <pre class="subtitle">{{ result['subtitle'] }}</pre>
              </span>
            </a>
          </div>
          <div class="img_holder" height=128>
              <img src="{{result['image_url']}}" height=128 />
          </div>
          <br>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
<script>

function toggleDisplay(elementId) {
    var element = document.getElementById(elementId);
    if (element.style.display === 'none') {
        element.style.display = 'block';
    } else {
        element.style.display = 'none';
    }
}
function deleteResult(resultName) {
    if (confirm("Delete experiment " + resultName + "?")) {
        console.log("DELETING");
        xhr = new XMLHttpRequest();
        xhr.open('POST', 'delete_job');
        xhr.onload = function() {
            console.log(xhr.responseText);
        }
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            'id': resultName
        }));
    } else {
        console.log("NOT DELETING");
    }
}
function stopExperiment(resultName) {
    if (confirm("Stop experiment " + resultName + "?")) {
        console.log('TODO');
    }
}
</script>
</html>
