<!DOCTYPE html>
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{cwd}}</title>
  <meta name="description" content="Directory {{cwd}}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/font-awesome.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">

  <style>
table {
  width: 100%;
}
  </style>
</head>
<h4>{{cwd}}</h4>
<body>
  <table>
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Last Modified</th>
  </tr>
  {% for item in listing: %}
  <tr>
    <td>
      <a href="{{files_url}}/{{cwd}}/{{item['name']}}">{{item['name']}}</a>
    </td>
    <td>
      {{item['size']}}
    </td>
    <td>
      {{item['last_modified']}}
    </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
