<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>GnomeHat Metrics</title>
  <meta name="description" content="GnomeHat Experiment Metrics">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <link rel="icon" type="image/png" href="/static/images/favicon.png">

  <script src="/static/js/sorttable.js"></script>
  <script>
function filterResults() {
    var startTime = new Date().getTime();
    var input = document.getElementById("resultSearchInput");
    var filter = input.value.toUpperCase();
    var results = document.getElementsByClassName("resultRow");
    console.log('filterResults() filtering ' + results.length + ' results');

    var visibleCount = 0;
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < results.length; i++) {
        div = results[i];
        if (div.innerHTML.toUpperCase().indexOf(filter) > -1) {
            div.style.display = "";
            visibleCount++;
        } else {
            div.style.display = "none";
        }
    }
    if (visibleCount < results.length) {
        setResultText('Displaying ' + visibleCount + ' of ');
    } else {
        setResultText('');
    }

    // Loop through all table columns, and hide those with no visible values
    var headers = document.getElementsByClassName('metric_key_header');
    for (i = 0; i < headers.length; i++) {
        headers[i].style.display = '';
        var cell_name = 'data_cell_' + i;
        var cells = document.getElementsByName(cell_name);
        var visible = false;
        for (j = 0; j < cells.length; j++) {
            cells[j].style.display = '';
            if (cells[j].parentNode.style.display == '' && cells[j].innerHTML != '-') {
                visible = true;
            }
        }
        // If a column should be hidden, hide its header and cells
        if (visible == false) {
            headers[i].style.display = 'none';
            for (j = 0; j < cells.length; j++) {
                cells[j].style.display = 'none';
            }
        }
    }
    var endTime = new Date().getTime();
    console.log('filterResults() finished in ' + (endTime - startTime) + ' msec');
}

function setResultText(text) {
    var resultText = document.getElementById("resultDisplayCount");
    resultText.innerHTML = text;
}

  </script>

</head>
<body>
  {% include 'main_header.html' %}
  <center>
    <span class="title">Experiment Results</span>
  </center>
  <br>
  <div class="container">
    <div class="row" id="results">
      <span id="resultDisplayCount"></span>
        {{ metrics | length }} recent results.
      <br>
      <input class="search" type="text" id="resultSearchInput" onkeyup="filterResults()" placeholder="Search for results..">
    </div>
  </div>

  <table class="sortable">
  <tr>
    <th>
      Experiment Name
    </th>
    {% for key in keys %}
    <th class="metric_key_header">{{key}}</th>
    {% endfor %}
  </tr>

  {% for experiment_id in metrics: %}
  <tr class="resultRow">
    <td>
        <a href="/experiment/{{namespace}}/{{experiment_id}}">{{experiment_id}}</a>
    </td>
    {% for key in keys: %}
    <td name="data_cell_{{loop.index - 1}}">{{metrics[experiment_id].get(key, '-')}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
</body>
</html>
